* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
  
}

/* home, */
/*.services,*/
/*.equipo,*/
/*.charlas*/ 
.contact-us,
/* .sign-up, */
.nutricion,
.entrenador{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.header{
  position: absolute;
}

/*
.service{
  background-image: url('../img/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  
}*/




.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
}
.image-container img {
  overflow: hidden;
  height: 200px;

}
/*
.equipo {
  background-image: url('../img/—Pngtree—fruit\ and\ vegetable\ nutrition\ extraction_1094614.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}*/

.contact-us {
  background-image: url('../img/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

/* .sign-up {
  background-image: url('../img/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.nutricion {
  background-image: url('../img/pexels-yaroslav-shuraev-8844887.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.entrenador {
  background-image: url('../img/pexels-li-sun-2294361.jpg');
  background-position: bottom;
  background-size: cover; 
  /* background-repeat: no-repeat; */ 
}
.imgCuerpos{
    width: 300px;
    height: 300px;

}

